.customButton {
  background-color: #1B2C3F;
  color: white;
  border: none;
  padding: 40px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;

  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .customButton {
    padding: 30px 60px;
    font-size: 20px;
    width: 100%; /* чтобы не вываливалась */
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .customButton {
    padding: 20px 40px;
    font-size: 18px;
    width: 100%; /* чтобы не вываливалась */
    box-sizing: border-box;
  }
}

/* Смартфоны (480px и ниже) */
@media (max-width: 480px) {
  .customButton {
    padding: 16px 24px;
    font-size: 16px;
    width: 100%;
  }
}